.c-10 {
  width: 10%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-20 {
  width: 20%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-30 {
  width: 30%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-40 {
  width: 40%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-50 {
  width: 50%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-60 {
  width: 60%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-70 {
  width: 70%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-80 {
  width: 80%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-90 {
  width: 90%;
  border-radius: 6px;
  background-color: #4B0082;
}

.c-100 {
  width: 100%;
  border-radius: 6px;
  background-color: #4B0082;
}

.m-auto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", serif;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  width: 100%;
  height: 100vh;
  font-size: 82.5%;
  overflow-x: hidden;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 36%, rgb(0, 79, 108) 83%);
  color: whitesmoke;
}

.webview header {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.webview header .logo {
  font-size: 3rem;
  color: #21074b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.webview header .logo:hover {
  transform: scale(1.1);
}
.webview header nav a {
  font-size: 1.8rem;
  color: #D3D3D3;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: none;
}
.webview header nav a.active, .webview header nav a:hover {
  color: #21074b;
}
.webview .home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: rgb(131, 58, 180);
  background: linear-gradient(135deg, rgb(131, 58, 180) 30%, rgb(0, 79, 108) 80%);
  min-height: 100vh;
  padding: 5rem 9%;
}
.webview .home .home-img img {
  border-radius: 50%;
  width: 32vw;
  box-shadow: 0 0 25px solid;
  transition: 0.2s linear;
}
.webview .home .home-img img:hover {
  transform: scale(1.05);
}
.webview .home .home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 40px;
}
.webview .home .home-content h1 span {
  color: #21074b;
}
.webview .home .home-content .typing-text h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 700;
}
.webview .home .home-content .typing-text h3 span {
  color: #21074b;
}
.webview .home .home-content p {
  font-size: 1.4rem;
}
.webview .home .home-content .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #21074b;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem;
  transition: 0.3 ease;
  color: #21074b;
}
.webview .home .home-content .social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: violet;
  box-shadow: 0 0 25px #4B0082;
}
.webview .home .home-content .btn {
  padding: 1rem 2.8rem;
  background-color: #21074b;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #D3D3D3;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #4B0082;
  transition: 0.3s ease;
  cursor: pointer;
}
.webview .home .home-content .btn:hover {
  transform: scale(1.03);
  background-color: violet;
  color: #161616;
  box-shadow: 0 0 25px #4B0082;
}

.webview .servicos {
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 36%, rgb(0, 79, 108) 83%);
  color: white;
}
.webview .servicos .container {
  padding: 10px;
}
.webview .servicos .container .s-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .servicos .container .s-title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.webview .servicos .container .s-carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item {
  min-height: 260px;
  background-color: #D3D3D3;
  color: #4B0082;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title {
  width: 100%;
  padding: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 1.6rem;
  font-weight: bold;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon span i {
  font-size: 38px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  text-align: center;
  font-size: 1.4rem;
}

.webview .portifolios {
  width: 100%;
  min-height: 100vh;
}
.webview .portifolios .container {
  padding: 10px;
}
.webview .portifolios .container .p-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .portifolios .container .p-title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #21074b;
}
.webview .portifolios .container .p-projetos {
  width: 100%;
}
.webview .portifolios .container .p-projetos .projeto {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}
.webview .portifolios .container .p-projetos .projeto .photos {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.webview .portifolios .container .p-projetos .projeto .photos .img {
  object-fit: cover;
  width: 100%;
  position: relative;
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: violet;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao p {
  display: block;
  color: white;
}
.webview .portifolios .container .p-projetos .projeto .photos .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.webview .portifolios .container .p-projetos .projeto .photos .descricao {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.webview .portifolios .container .p-projetos .projeto .photos .descricao p {
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  color: white;
}

.webview .contato {
  width: 100%;
  margin-bottom: 30px;
}
.webview .contato .container {
  padding: 10px;
}
.webview .contato .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .contato .container .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #D3D3D3;
}
.webview .contato .container .formulario {
  width: 100%;
}
.webview .contato .container .formulario form {
  width: 100%;
}
.webview .contato .container .formulario form .form-group {
  width: 100%;
}
.webview .contato .container .formulario form .form-group .controls {
  width: 100%;
  min-height: 70px;
}
.webview .contato .container .formulario form .form-group .controls label {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-weight: bold;
  color: #D3D3D3;
}
.webview .contato .container .formulario form .form-group .controls input {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #21074b;
  background-color: #D3D3D3;
  border-radius: 10px;
}
.webview .contato .container .formulario form .form-group .controls input:active {
  border: 1px solid #4B0082;
  border-radius: 10px;
}
.webview .contato .container .formulario form .form-group .controls input:focus {
  border: 1px solid #4B0082;
}
.webview .contato .container .formulario form .form-group .controls textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid #4B0082;
  outline: none;
  background-color: #D3D3D3;
  border-radius: 10px;
}
.webview .contato .container .formulario form .form-group .controls textarea:active {
  border: 5px solid violet;
  border-radius: 20px;
}
.webview .contato .container .formulario form .form-group .controls textarea:focus {
  border: 1px solid #4B0082;
}
.webview .contato .container .formulario form .form-group .btn-form-send {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #21074b;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.webview .contato .container .formulario form .form-group .btn-form-send:hover {
  background-color: #4B0082;
}
.webview .contato .container .formulario form .form-group .btn-form-send:active {
  background-color: #4B0082;
}

.webview footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #21074b;
}
.webview footer span {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  color: white;
}

@keyframes cursor {
  to {
    border-left: 1px solid;
  }
}
@keyframes words {
  0%, 40% {
    content: "Desenvolvedora";
  }
  41%, 80% {
    content: "Dev Front End";
  }
  81%, 100% {
    content: "Front-end Engineer";
  }
}
.typing-text {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.typing-text::after {
  content: "";
  animation: words 5s infinite, cursor 0.8s infinite alternate;
  border-left: 2px solid #4B0082;
  padding-left: 8px;
}

@media only screen and (min-width: 425px) {
  .webview header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .webview header a {
    font-size: 1rem;
  }
  .webview header nav a {
    font-size: 1.3rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: none;
    margin-bottom: 20px;
  }
  .webview header .home .home-img img {
    width: 20vw;
  }
  .webview header .home .home-content h1 {
    font-size: 1.5rem;
  }
  .webview header .home .home-content h3 {
    font-size: 1rem;
  }
  .webview header .home .home-content p {
    font-size: 1rem;
  }
  .webview .servicos .container .s-carrousel {
    margin-bottom: 40px;
    height: 400px;
  }
  .webview .portifolios .container .p-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .portifolios .container .p-projetos .projeto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto .photos {
    height: 100%;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img {
    position: relative;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4B0082;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao p {
    display: block;
    color: white;
  }
  .webview .contato .container .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .contato .container .formulario .form-group {
    display: flex;
    flex-direction: row;
  }
  .webview .contato .container .formulario .form-group .controls {
    padding: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .webview .intro .container h1 {
    font-size: 3rem;
  }
  .webview .intro .container p {
    font-size: 1.6rem;
  }
  .webview .intro .container .m-auto-btn {
    margin-top: 10px;
  }
  .webview .intro .container .m-auto-btn .btn-portifolio {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    width: 180px;
    height: 40px;
    cursor: pointer;
  }
  .webview .intro .container .m-auto-btn .btn-portifolio:hover {
    background-color: #4B0082;
    border-radius: 6px;
    border: 1px solid #4B0082;
  }
  .webview .sobre .container {
    width: 90%;
    margin: auto;
  }
  .webview .sobre .container .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webview .sobre .container .title h2 {
    font-size: 2rem;
  }
  .webview .sobre .container .row {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 40px;
  }
  .webview .sobre .container .row .c-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  .webview .sobre .container .row .c-photo img {
    width: 100%;
    max-width: 400px;
  }
  .webview .sobre .container .row .c-descricao {
    padding: 10px;
    margin-top: 0px;
  }
  .webview .sobre .container .row .c-descricao p {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
  .webview .sobre .container .row .c-descricao .habilidades .h-item .h-title {
    width: 100%;
  }
  .webview .sobre .container .row .c-descricao .habilidades .h-item .h-title h3 {
    font-size: 1.2rem;
  }
  .webview .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral span {
    font-size: 1.2rem;
  }
  .webview .servicos .container {
    width: 90%;
    margin: auto;
  }
  .webview .servicos .container .s-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webview .servicos .container .s-title h2 {
    font-size: 2rem;
  }
  .webview .servicos .container .s-carrousel {
    width: 96%;
    margin: auto;
    margin-bottom: 40px;
  }
  .webview .portifolios {
    min-height: auto;
  }
  .webview .portifolios .container {
    width: 90%;
    margin: auto;
  }
  .webview .portifolios .container .p-title h2 {
    font-size: 2rem;
  }
  .webview .portifolios .container .p-projetos {
    padding: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 10px;
    column-gap: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto .photos {
    height: 100%;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img {
    position: relative;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4B0082;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao p {
    display: block;
    color: white;
  }
  .webview .contato {
    margin-bottom: 50px;
  }
  .webview .contato .container {
    width: 90%;
    margin: auto;
  }
  .webview .contato .container .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .contato .container .title h2 {
    font-size: 2rem;
  }
  .webview .contato .container .formulario form .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .webview .contato .container .formulario form .form-group .controls {
    padding: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .webview header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .webview header .logo {
    font-size: 2rem;
  }
  .webview header nav {
    gap: 0.5px;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .webview header nav a {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .webview header .home {
    display: flex;
    width: 100%;
  }
  .webview header .home .home-img img {
    width: 20vw;
  }
  .webview header .home .home-content h1 {
    margin-top: 50px;
    font-size: 0.5rem;
  }
  .webview header .home .home-content h1 span {
    font-size: 1rem;
  }
  .webview header .home .home-content h3 {
    margin-top: 50px;
    font-size: 1rem;
  }
  .webview header .home .home-content h3 span {
    font-size: 1rem;
  }
  .webview header .home .home-content p {
    font-size: 1rem;
  }
}
.webview .intro .container h1 {
  font-size: 3rem;
}
.webview .intro .container p {
  font-size: 1.6rem;
}
.webview .intro .container .m-auto-btn {
  margin-top: 10px;
}
.webview .intro .container .m-auto-btn .btn-portifolio {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  width: 180px;
  height: 40px;
  cursor: pointer;
}
.webview .intro .container .m-auto-btn .btn-portifolio:hover {
  background-color: #4B0082;
  border-radius: 6px;
  border: 1px solid #4B0082;
}

.webview .sobre .container {
  width: 90%;
  margin: auto;
}
.webview .sobre .container .title {
  margin-top: 40px;
  margin-bottom: 40px;
}
.webview .sobre .container .title h2 {
  font-size: 2rem;
}
.webview .sobre .container .row {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}
.webview .sobre .container .row .c-photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.webview .sobre .container .row .c-photo img {
  width: 100%;
  max-width: 400px;
}
.webview .sobre .container .row .c-descricao {
  padding: 10px;
  margin-top: 0px;
}
.webview .sobre .container .row .c-descricao p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.webview .sobre .container .row .c-descricao .habilidades .h-item .h-title {
  width: 100%;
}
.webview .sobre .container .row .c-descricao .habilidades .h-item .h-title h3 {
  font-size: 1.2rem;
}
.webview .sobre .container .row .c-descricao .habilidades .h-item .h-c-porcentagem .h-porcentagem-geral span {
  font-size: 1.2rem;
}

.webview .servicos .container {
  width: 90%;
  margin: auto;
}
.webview .servicos .container .s-title {
  margin-top: 40px;
  margin-bottom: 40px;
}
.webview .servicos .container .s-title h2 {
  font-size: 2rem;
}
.webview .servicos .container .s-carrousel {
  width: 96%;
  margin: auto;
  margin-bottom: 40px;
}

.webview .portifolios {
  min-height: auto;
}
.webview .portifolios .container {
  width: 90%;
  margin: auto;
}
.webview .portifolios .container .p-title h2 {
  font-size: 2rem;
}
.webview .portifolios .container .p-projetos {
  padding: 10px;
}
.webview .portifolios .container .p-projetos .projeto {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.webview .portifolios .container .p-projetos .projeto .photos {
  height: 100%;
}
.webview .portifolios .container .p-projetos .projeto .photos .img {
  position: relative;
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4B0082;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao p {
  display: block;
  color: white;
}

.webview .contato {
  margin-bottom: 50px;
}
.webview .contato .container {
  width: 90%;
  margin: auto;
}
.webview .contato .container .title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.webview .contato .container .title h2 {
  font-size: 2rem;
}
.webview .contato .container .formulario form .form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.webview .contato .container .formulario form .form-group .controls {
  padding: 5px;
}

@media only screen and (min-width: 320px) {
  .webview header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .webview header .logo {
    font-size: 2rem;
  }
  .webview header nav {
    gap: 0.5px;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .webview header nav a {
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 700;
  }
  .webview header .home {
    flex-direction: column;
    padding: 10px;
  }
  .webview header .home .home-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .webview header .home .home-img img {
    width: 60%;
    max-width: 150px;
    margin: 0 auto;
    display: block;
  }
  .webview header .home .home-content {
    font-size: 1rem;
    margin-left: 20px;
  }
  .webview header .home .home-content h1,
  .webview header .home .home-content h3 {
    margin-top: 50px;
    font-size: 1rem;
  }
  .webview header .home .home-content h1 span,
  .webview header .home .home-content h3 span {
    font-size: 1rem;
  }
  .webview header .home .home-content p {
    font-size: 1rem;
    margin-left: 20px;
  }
  .webview header .home .social-icons {
    margin-top: 10px;
  }
  .webview header .home .social-icons a {
    font-size: 1.2rem;
    margin: 0 5px;
  }
  .webview header .home .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
    margin-top: 10px;
  }
  .webview .servicos .container .s-carrousel {
    margin-bottom: 40px;
    height: 400px;
  }
  .webview .portifolios .container .p-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .portifolios .container .p-projetos .projeto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto .photos {
    height: 100%;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img {
    position: relative;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4B0082;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao p {
    display: block;
    color: white;
  }
  .webview .contato .container .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .contato .container .formulario .form-group {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
  }
  .webview .contato .container .formulario .form-group .controls {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
